*{
    margin: 0px auto;
    padding: 0px ;
    box-sizing: border-box;
    font-size: 14px;
}
body{
   background-color: bisque;
    display: flex;
    margin-top:150px;
} 
.container{
    width:500px ;
     height: 500px;
    display: flex;
    

}

.container .foto{
    width:250px ;
    height: 500px; 
  
 
}
.container .foto img{
    width:100% ;
    height:100%; 
   border-radius: 20px 0px 0px 20px ; 

} 

.container .conteudo{
    width:250px ;
    height: 500px;
 background-color: white;
 text-align: left;
padding-top: 45px;
padding-left: 25px;
border-radius: 0px 20px 20px 0px ;
}

.container .conteudo h1{
    font-size: 30px;
}
.container .conteudo .texto-valor{

 display: flex;
}
.container .conteudo .botão{
    width: 180px;
    height: 50px;
    border-radius: 10px;
   background-color: darkcyan;
    display: flex;
    margin-top: 35px;
   }
 
   .container .conteudo .botão  p{
    margin-right: 25px;
    color: white;
    font-family:  'Franceus' ;
    
   }
   .container .conteudo .botão img{
    width: 20px;
    height: 20px;
   margin-top: 12px;
   }
   .container .conteudo .texto-valor h1  {
 color: darkcyan;
   }
.container .conteudo p, .container .conteudo h1{
   
  padding-top: 25px;
}