 *{
    margin: 0px auto;
    padding: 0px ;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Montserrat', sem serifa;
}
body{
   background-color: hsl(30, 38%, 92%);
    display: flex;
    margin-top:150px;
    flex-wrap: wrap;
    flex-basis: 1;
} 
.container{
    width:375px ;
     height: 500px;
    display: flex;
 

}

.container .foto{
    width:50% ;
    height: 500px; 
  
 
}
.container .foto img{
    width:100% ;
    height:100%; 
   border-radius: 20px 0px 0px 20px ; 
 
} 

.container .conteudo{
    width:50% ;
    height: 500px;
 background-color: white;
 text-align: left;
padding-top: 25px;
padding-left: 25px;
border-radius: 0px 20px 20px 0px ;
 
 
}

.container .conteudo h1{
    font-size: 25px;
    color: Very dark  hsl(212, 21%, 14%);
    font-weight: 800;
 font-family:  'Franceus' sans-serif;
}
.container .conteudo #texto-conteudo{
line-height: 12px;
} 
.container .conteudo .texto-valor{
 
 display: flex;
 justify-content: space-around;
 align-items: center;
 font-family: 'Fraunceus';
}

.container .conteudo .botão{
    width: 130px; 
    height: 40px;
    border-radius: 10px;
   background-color: darkcyan;
   margin-top: 5px;
    cursor: pointer;
    color: white;
border-color: white;
display: flex;
justify-content: center;
align-items: center;
padding-right: 25px;
 
   }   
   .container .conteudo .botão img{
    width: 15px;
    height: 15px;
   margin-top: 12px;
   }
   .container .conteudo .texto-valor  {
    
   display: flex;
   text-align: center;
   padding-bottom: 15px;
      }
    
.container .conteudo p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight:300;
 }
   .container .conteudo .texto-valor > h1  {
 color: darkcyan;
  font-size: 18px;
  padding-left: 15px;
   }
   .container .conteudo .texto-valor span  {
    padding-right: 30px;
    text-decoration: line-through;
 
      }
      .container .conteudo #texto-conteudo{
        line-height: 25px;
       } 
.container .conteudo p, .container .conteudo h1{
   
  padding-top: 25px;
}